$slider_height:632px;
$color_primary:rgb(19%, 20%, 22%);
$color_secondary:rgb(20%, 21%, 25%);
$color_red:rgb(100%, 33%, 31%);
$color_grey:rgb(146, 149, 161);
$color_grey_dark:rgb(19%, 20%, 22%);
$color_grey_3:rgb(140, 144, 153);
$color_grey_4:rgb(79, 82, 90);
$color_grey_5:rgb(219, 219, 219);
$color_blue_dark:rgb(42, 42, 42);
$color_blue_light:rgb(62, 67, 80);

$font-1: 'Montserrat', sans-serif;
$font-2: "Open Sans", sans-serif;