.heading{
    font-weight: 700;
    font-size: 7.2rem;
    color:$color_grey_dark;
    text-transform: uppercase;
    line-height: 1;
    width:inherit;
    span{
        position: relative;
        display: inline-block;
        &:after{
            content:"";
            position: absolute;
            width:100%;
            border-bottom: 1rem solid $color_red;
            left: 0%;
            top:120%;
        }
       
    }
    &--white{
        color:white;
        
    }
    &--white-line{
        span{
            &:after{
                border-bottom-color: white;
            }
        }
    }

    
}